/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* page core */

html, body {
  height:100%;
  font-family: 'trebuchet ms', arial, sans-serif;
}

div#wrapper {
  width: 100%;
  height: 100%;
}

div#core {
	display: block;
	clear: both;
	margin-bottom: 20px;
  width: 100%;
  height: 100%;
}

section#left {
	width: 25%;
	float: left;
  height: 100%;
}

section#right {
  float: left;
  width: 75%;
  height: 100%;
}

/* clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}

small {
  font-size: xx-small;
}

ul {
  list-style-type: square;
  margin: 0px;
  padding-left: 15px;
}

:link {
	color:#0000ff;
	text-decoration: none;
	}
a:visited {
	color:#0000ff;
	text-decoration: none;
	}
a:hover {
	color: #0000cc;
	text-decoration: none;
	}
a:active {
	color:#0000cc;
	text-decoration: none;
	}
