/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

table.wikitable {
margin: 1em 1em 1em 0;
background: #F9F9F9;
border: 1px #AAA solid;
border-collapse: collapse;
color: black;
}

table.wikitable th {
padding: 4px;
background-color: #E9E9E9;
border-style: solid;
border-width: 1px;
border-color: #AAA;
}

.wikitable th, .wikitable td {
border: 1px #AAA solid;
padding: 0.2em;
}

.wikitable th {
background: #F2F2F2;
text-align: center;
font-weight: bold;
}

small {
font-size: smaller;
}
