.smallmap {
  margin: 0px auto;
  display: inline-block;
  width: 100%;
  height: 90%;
  border: 1px solid black;
}

.component_info {
  #border: 1px solid lightgray;
  margin: 5px;
  padding: 5px;
}

.component_info .title {
  font-weight: bold;
  font-size: larger;
}

.border {
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px; //for opera
  background:#f3f3f3;
  border:1px solid #cccccc;
  margin: 10px;
  padding: 10px;
}
